<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Alta</display-name>
    <servlet-name>Alta</servlet-name>
    <servlet-class>com.curso.controller.Alta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Alta</servlet-name>
    <url-pattern>/Alta</url-pattern>
  </servlet-mapping>
  <display-name>10-ProyectoTienda</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>PaginaInicial</display-name>
    <servlet-name>PaginaInicial</servlet-name>
    <servlet-class>com.curso.controller.PaginaInicial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PaginaInicial</servlet-name>
    <url-pattern>/PaginaInicial</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Eliminacion</display-name>
    <servlet-name>Eliminacion</servlet-name>
    <servlet-class>com.curso.controller.Eliminacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Eliminacion</servlet-name>
    <url-pattern>/Eliminacion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Modificacion</display-name>
    <servlet-name>Modificacion</servlet-name>
    <servlet-class>com.curso.controller.Modificacion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Modificacion</servlet-name>
    <url-pattern>/Modificacion</url-pattern>
  </servlet-mapping>
</web-app>